<extend name="Base/base" />
<block name="head">
    <title>Eightnoo</title>
    <link rel="stylesheet" href="{$Think.config.CSS_URL}/index.css" >
    <script type="text/javascript" src="{$Think.config.JS_URL}/index.js"></script>
</block>

<block name="body">
    <div class="banner">
        <ul class="banner_img">
            <li><img src="{$Think.config.IMG_URL}/banner1.jpg" alt=""></li>
            <li><img src="{$Think.config.IMG_URL}/banner2.jpg" alt=""></li>
            <li><img src="{$Think.config.IMG_URL}/banner3.jpg" alt=""></li>
            <li><img src="{$Think.config.IMG_URL}/banner4.jpg" alt=""></li>
            <li><img src="{$Think.config.IMG_URL}/banner5.jpg" alt=""></li>
        </ul>

        <span class="prev">&lt;</span>
        <span class="next">&gt;</span>

        <ul class="banner_num">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="module">
        <div class="module_title">Best Sellers</div>
        <div class="module-description">Browse our most popular products.</div>
        <div class="module_items">
            <a class="item" href="#">
                <img src="{$Think.config.IMG_URL}/product1.jpg" alt="">
                <div class="title">PowerCore II 20000mAh Portable Charger</div>
                <div class="description">20000mah Power Bank with 3 PowerIQ, 6A Output, Dual Input and 4A Fast Recharging</div>
            </a>
            <a class="item" href="#">
                <img src="{$Think.config.IMG_URL}/product1.jpg" alt="">
                <div class="title">PowerCore II 20000mAh Portable Charger</div>
                <div class="description">20000mah Power Bank with 3 PowerIQ, 6A Output, Dual Input and 4A Fast Recharging</div>
            </a>
            <a class="item" href="#">
                <img src="{$Think.config.IMG_URL}/product1.jpg" alt="">
                <div class="title">PowerCore II 20000mAh Portable Charger</div>
                <div class="description">20000mah Power Bank with 3 PowerIQ, 6A Output, Dual Input and 4A Fast Recharging</div>
            </a>
            <a class="item" href="#">
                <img src="{$Think.config.IMG_URL}/product1.jpg" alt="">
                <div class="title">PowerCore II 20000mAh Portable Charger</div>
                <div class="description">20000mah Power Bank with 3 PowerIQ, 6A Output, Dual Input and 4A Fast Recharging</div>
            </a>
        </div>
        <div class="module-more">
            <a href="#">LOAD MORE</a>
        </div>
    </div>



</block>