<extend name="Base/base" />

<block name="head">
    <link rel="stylesheet" href="{$Think.config.ADMIN_CSS_URL}/goods.css">
    <script type="text/javascript" src="{$Think.config.TOOLS_URL}/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="{$Think.config.TOOLS_URL}/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="{$Think.config.TOOLS_URL}/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="{$Think.config.ADMIN_JS_URL}/goods.js"></script>
</block>

<block name="right">
    <div>
        <!-- 面包屑导航 -->
        <div class="crumbs">
            当前位置：商品管理-><a href="__CONTROLLER__/append">添加商品</a>
            <a href="__CONTROLLER__/showlist">【商品列表】</a>
        </div>

        <!-- 添加商品属性部分 -->
        <div class="tab-div">
            <div class="tabbar-div">
                <p>
                    <span class="tab-front" id="general-tab">通用信息</span>
                    <span class="tab-back" id="detail-tab">详细信息</span>
                    <span class="tab-back" id="mix-tab">其他信息</span>
                    <span class="tab-back" id="properties-tab">商品属性</span>
                    <span class="tab-back" id="gallery-tab">商品相册</span>
                </p>
            </div>

            <div class="tabbody-div">
                <form action="__CONTROLLER__/append" method="post" id="addFrom" enctype="multipart/form-data">
                    <!-- 通用信息 -->
                    <table align="center" width="90%" class="chl">
                        <tr>
                            <td align="right" class="label">商品名称：</td>
                            <td><input type="text" name="goods_name"></td>
                        </tr>
                        <tr>
                            <td align="right"  class="label">商品分类：</td>
                            <td>
                                <select id=""  name="cat_id">
                                    <option value="0">--请选择--</option>
                                    <foreach name="catinfo" item="v">
                                        <option value="{$v.cat_id}"><?php echo str_repeat('&nbsp;&nbsp;&nbsp;',$v['cat_level']); ?>{$v.cat_name}</option>
                                    </foreach>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">商品品牌：</td>
                            <td>
                                <select name="brand_id" >
                                    <option value="0">--请选择--</option>
                                    <foreach name="brandinfo" item="v">
                                        <option value="{$v.brand_id}">{$v.brand_name}</option>
                                    </foreach>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">市场售价：</td>
                            <td>
                                <input type="text" name="market_price" value="0.00">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">本店售价：</td>
                            <td>
                                <input type="text" name="shop_price" value="0.00">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">
                                    <input type="checkbox" name="is_promote" class="check_price">促销价格：
                            </td>
                            <td>
                                <input type="text" name="promote_price" value="0.00" disabled="disabled" class="disable">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">促销起始时间：</td>
                            <td>
                                <input type="date" name="promote_start_time" disabled="disabled" class="disable">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">促销截止时间：</td>
                            <td>
                                <input type="date" name="promote_end_time" disabled="disabled" class="disable">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">上传商品图片：</td>
                            <td>
                                <input type="file" name="goods_img">
                            </td>
                        </tr>
                    </table>
                    <!-- 详细信息 -->
                    <table align="center" width="90%" class="chl" style="display: none">
                        <tr>
                            <td align="right" class="label">Features：</td>
                            <td>
                                <textarea name="goods_desc" id="goods_desc" style="width: 800px; height: 150px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">Package included：</td>
                            <td>
                                <textarea name="goods_package"  style="width: 800px; height: 100px;"></textarea>
                            </td>
                        </tr>
                    </table>
                    <!-- 其他信息 -->
                    <table align="center" width="90%" class="chl" style="display: none">
                        <tr>
                            <td align="right" class="label">商品货号：</td>
                            <td><input type="text" name="goods_sn"></td>
                        </tr>
                        <tr>
                            <td align="right" class="label">商品重量：</td>
                            <td><input type="text" name="goods_weight">
                                <select name="weight_unit">
                                    <option value="0">千克</option>
                                    <option value="1">克</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">商品库存数量：</td>
                            <td><input type="text" name="goods_number"></td>
                        </tr>
                        <tr>
                            <td align="right" class="label">库存警告数量：</td>
                            <td><input type="text" name="warning_number"></td>
                        </tr>
                        <tr>
                            <td align="right" class="label">商品链接：</td>
                            <td><input type="text" name="goods_link"></td>
                        </tr>
                        <tr>
                            <td align="right" class="label">加入推荐：</td>
                            <td>
                                <input type="checkbox" name="is_best">精品
                                <input type="checkbox" name="is_new">新品
                                <input type="checkbox" name="is_hot">热销
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">上架：</td>
                            <td>
                                <input type="checkbox" checked="checked" name="is_onsale">打勾表示允许销售，否则不允许销售
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="label">商品简单描述：</td>
                            <td>
                                <textarea name="goods_brief" cols="40" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                    <!-- 商品属性 -->
                    <table align="center" width="90%" class="chl" id="goodsAttr" style="display: none">
                        <tr>
                            <td align="right" class="label">商品类型：</td>
                            <td>
                                <select name="type_id" class="goods_type">
                                    <option value="0">请选择商品类型</option>
                                    <foreach name="typeinfo" item="v">
                                        <option value="{$v.type_id}">{$v.type_name}</option>
                                    </foreach>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <!-- 商品相册 -->
                    <table align="center" width="90%" class="chl" style="display: none">
                        <tr>
                            <td align="center">
                                <a href="javascript:;" class="add_img">[+]</a>图片描述：
                                <input type="text" name="img_desc[]">
                                <input type="file" name="img_url[]">
                            </td>
                        </tr>
                    </table>

                    <div class="button-div">
                        <input type="submit" class="button" value="确定">
                        <input type="reset" class="button" value="重置">
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>