<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>注册</title>
</head>
<body style="background: #278296">
<form method="post" action="__CONTROLLER__/register" name='theForm'>
    <table cellspacing="0" cellpadding="0" style="margin-top: 100px" align="center">
        <tr>
            <td><img src="{$Think.config.ADMIN_IMG_URL}/login.png" width="178" height="256" border="0" alt="ECSHOP" /></td>
            <td style="padding-left: 50px">
                <table>
                    <tr>
                        <td align="right">账户：</td>
                        <td><input type="text" name="sm_username" /></td>
                    </tr>
                    <tr>
                        <td align="right">密码：</td>
                        <td><input type="password" name="sm_password" /></td>
                    </tr>
                    <tr>
                        <td align="right">确定密码：</td>
                        <td><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <td align="right">店铺名称：</td>
                        <td><input type="text" name="sm_store_name" /></td>
                    </tr>
                    <tr>
                        <td align="right">注册号：</td>
                        <td><input type="text" name="sm_store_number" /></td>
                    </tr>
                    <tr>
                        <td align="right">电话：</td>
                        <td><input type="text" name="sm_phone" /></td>
                    </tr>
                    <tr>
                        <td align="right">邮箱：</td>
                        <td><input type="email" name="sm_email" /></td>
                    </tr>
                    <tr>
                        <td align="right">地址：</td>
                        <td><input type="text" name="sm_address" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="立即注册" class="button" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">&raquo;
                            <a href="__APP__/Home/Index/index" style="color:white">返回首页</a> &raquo;
                            <a href="__CONTROLLER__/login" style="color:white">返回登录页面</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="hidden" name="act" value="signin" />
</form>

</body>