<extend name="Base/base" />

<block name="head">
    <title>订单列表</title>
</block>

<block name="right">
    <div class="crumbs">
        当前位置：商品管理-><a href="__CONTROLLER__/showlist">订单列表</a>
        <a href="__CONTROLLER__/append">【添加订单】</a>
    </div>

    <table width="100%" cellpadding="1" cellspacing="0" class="tablelist" style="margin-top: 10px">
        <tr>
            <th>订单编号</th>
            <th>商品名称</th>
            <th>会员</th>
            <th>收货人</th>
            <th>订单金额</th>
            <th>下单时间</th>
            <th>订单状态</th>
            <th colspan="3">操作</th>
        </tr>
        <foreach name="info" item="v">
            <tr>
                <td align="center">{$v.order_id}</td>
                <td align="center">
                    <img src="{$Think.config.REALM_URL}/{$v.goods_img}" alt="">
                </td>
                <td align="center">{$v.user_name}</td>
                <td align="center">{$v.name}</td>
                <td align="center">{$v.goods_amount}</td>
                <td align="center">{$v.order_time|date="Y-m-d H:i",###}</td>
                <equal name="v.order_status" value="0">
                    <td align="center">待付款</td>
                </equal>
                <equal name="v.order_status" value="1">
                    <td align="center">待发货</td>
                </equal>
                <equal name="v.order_status" value="2">
                    <td align="center">已发货</td>
                </equal>
                <equal name="v.order_status" value="3">
                    <td align="center">已完成</td>
                </equal>
                <equal name="v.order_status" value="4">
                    <td align="center">已取消</td>
                </equal>
                <td align="center"><a href="__CONTROLLER__/upd/order_id/{$v.order_id}">修改</a></td>
                <td align="center"><a href="javascript:;" onclick="if (confirm('确定要删除吗？')){
                    window.location.href = '__CONTROLLER__/del/order_id/{$v.order_id}'
                }">删除</a></td>
            </tr>
        </foreach>
        <tr>
            <td align="center" colspan="9" class="page">{$pagelist}</td>
        </tr>

    </table>



</block>
