<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{$Think.config.CSS_URL}/top.css">
    <link rel="stylesheet" href="{$Think.config.CSS_URL}/footer.css">
    <script type="text/javascript" src="{$Think.config.JS_URL}/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{$Think.config.JS_URL}/jquery.form.js"></script>
    <script type="text/javascript" src="{$Think.config.JS_URL}/top.js"></script>
    <block name="head"></block>
</head>
<body>
    <include file="Base/top" />
    <block name="body"></block>
    <include file="Base/footer" />
</body>
</html>