.address1{height: 20px; background: url("../images/shadow_bg.jpg") repeat-x; }
.admin_p{ width: 90px; height: 100px; float: left; margin-left: 80px;}
.admin_u{ list-style: none; float: left; margin-left: 20px; }
.admin_u li{ line-height: 35px; }












